<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.name }}
			{% if title %} &#8212; {{ title }}
			{% endif %}
		</title>
		<link href="/css/syntax.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>{{ title }}</h1>
		{{ content | safe }}
		<hr/>
		<nav>
			<ul>
				<li>
					<a href="/">index</a>
				</li>
				{%- for page in collections.all %}
					<li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
				{%- endfor %}
			</ul>
			<p></p>
		</nav>
		<footer>
			<p>
				<a href="{{site.url}}">{{site.url}}</a>
			</p>
		</footer>
	</body>
</html>